.m-button {
  display: flex;
  min-width: 80px;
  height: 36px;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #2ca01c;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  padding: 0 16px;
  column-gap: 4px;
  cursor: pointer;
}

.m-button:focus{
  outline: 2px solid #b1b1b1;
}

.m-button:hover {
  background-color: var(--primary-hover-color);
  color: var(--white-color);
}

.m-button:active {
  background-color: var(--primary-active-color);
}

.m-button-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.m-button-name {
  font-family: MisaFontMedium;
  font-size: 13px;
}

.m-button-no-primary,
.button-only-icon {
  border: 1px solid var(--border-color);
  background-color: #fff;
  color: #1f1f1f;
  padding-left: 16px !important;
}

.m-button-no-primary:hover {
  background-color: #f6f6f6;
  color: #1f1f1f;
}

.m-button-no-primary:active {
  background-color: #ebebeb;
  color: #1f1f1f;
}

.has-icon {
  padding-left: 12px;
}

.button-only-icon {
  min-width: 36px;
  width: 36px !important;
  height: 36px;
}

.button-only-icon:hover {
  border: 1px solid #50b83c;
  background-color: #f4fff2;
}

.button-only-icon .m-button-icon {
  background-color: #666666;
}

.button-only-icon:hover .m-button-icon {
  background-color: #50b83c;
}

.no-display {
  display: none;
}